* {
    font-family: 'Source Sans Pro';
}

p {
    font-size: 14px;
    margin: 0px;
}

.quote {
    width: 90%;
    padding-left: 5%;
    border-left: 5px solid #f1f1f1;
}

.date {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: #3498db
}

.post {
    border-bottom: 3px solid #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.text_grid {
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 20px solid #bdc3c7;
}
/*
border color #bdc3c7
date color #3498db
h2 color #2c3e50

font: source sans pro
*/
